[Desktop Entry]
Encoding=UTF-8
Name=RusIDE
GenericName=RusIDE
Comment=IDE for cross-platform C++ development 
MimeType=application/x-upp;
Exec=RusIDE
Icon=RusIDE
Terminal=false
Type=Application
Categories=Application;Development;IDE;C++;
StartupNotify=false
